/server/node_modules
/server/public/build
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/server.env
/server.env.backup
/server.env.production
/server.phpunit.result.cache
/serverHomestead.json
/serverHomestead.yaml
/serverauth.json
/servernpm-debug.log
/serveryarn-error.log
/server/.fleet
/server/.idea
/server/.vscode
